<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>856824866636-6mvl8840fgjdbd1qua4peo068k0b4cod.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.856824866636-6mvl8840fgjdbd1qua4peo068k0b4cod</string>
	<key>API_KEY</key>
	<string>AIzaSyAp1Pu9FKfOBN8pMRu8BUFRrdOLE0QKw7s</string>
	<key>GCM_SENDER_ID</key>
	<string>856824866636</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.srmthon</string>
	<key>PROJECT_ID</key>
	<string>srmthon</string>
	<key>STORAGE_BUCKET</key>
	<string>srmthon.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:856824866636:ios:b2cb3435d075e6635d51e9</string>
	<key>DATABASE_URL</key>
	<string>https://srmthon-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>